<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="../static/css/loginstyle.css">

  
</head>

<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

      <form action="http://localhost:5000/check" method="post">
      
        <h1>Login</h1>
        
        
          
          <label for="name">User Name:</label>
          <input type="text" id="name" name="user_name">
          
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="user_password">
             
        <button type="submit">Login</button>
      </form>
      
    </body>
</html>
  
  
</body>
</html>
