<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>result</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="../static/css/result.css">

  
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Success!!</h1>
                <h2>
                    Added new advertisement  </h2>
                <div class="error-details">
                    name: {{ name }}
					
                </div>
                <div class="error-actions">
                    <a href="http://localhost:5000/home/abhiram" class="btn btn-primary btn-lg"><img src="../static/images/home.png" alt="Mountain View"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

