<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>result</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="../static/css/result.css">

  
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Success!!</h1>
                <h2>
                    Your Feedback has been submited.<br>Thanks for your support :)</h2>
              
            </div>
        </div>
    </div>
</div>
</body>

